{
  "outbound_connections": [
    {
      "description": "Filter for connection from pythonist ",
      "condition": "proc.name in (pythonist, dragent)"
    }
  ],
  "written_files": [
    {
      "description": "Filter for file writes to Docker directories.",
      "condition": "fd.name startswith '/var/lib/docker/'"
    },
    {
      "description": "Filter for file writes to runner commands directory.",
      "condition": "fd.name startswith '/home/runner/work/_temp/_runner_file_commands/'"
    },
    {
      "description": "Filter for file writes to github runner",
      "condition": "fd.name startswith '/home/runner/runners/' and proc.exepath endswith '/bin/Runner.Worker' and proc.pexepath endswith '/bin/Runner.Listener'"
    },
    {
      "description": "test config - Removing file written by dockerd process",
      "condition": "proc.exepath endswith '/usr/bin/dockerd'"
    },
    {
      "description": "test config - Removing file written by systemd-networkd process",
      "condition": "proc.exepath endswith '/usr/lib/systemd/systemd-networkd'"
    }
  ],
  "processes": [
    {
      "description": "Whitelisting noisy process names.",
      "condition": "proc.name in (sysdig, systemd-logind, systemd-network, systemd-resolve, systemd-udevd, linux-bench, journalctl, systemd-journal, systemd-cgroups)"
    }
  ]
}
