{
    "ignore_syscalls": [
        "clock_getres",
        "clock_gettime",
        "clock_nanosleep",
        "close",
        "execveat",
        "futex",
        "getdents64",
        "getpid",
        "gettimeofday",
        "mprotect",
        "nanosleep",
        "rt_sigaction",
        "rt_sigprocmask",
        "sched_yield",
        "switch",
        "time",
        "waitid"
    ]
}
