{
    "ignore_folders": [
        "/home/runner/work/_temp/"
    ],
    "ignore_files": [],
    "ignore_IPs": [
        "10.10.10.10",
        "10.10.10.101"
    ],
    "ignore_processes": [
        "sysdig", 
        "systemd-logind", 
        "systemd-network", 
        "systemd-resolve", 
        "systemd-udevd", 
        "linux-bench", 
        "journalctl",
        "systemd-journal",
        "systemd-cgroups"
    ],
    "ignore_syscalls": [
        "switch",
        "rt_sigprocmask",
        "clock_gettime",
        "rt_sigaction",
        "waitid",
        "getpid",
        "clock_getres",
        "mprotect",
        "gettimeofday",
        "close",
        "time",
        "getdents64",
        "clock_nanosleep"
    ]
}
